<!-- views/partials/footer.ejs -->
</main>
<footer class="bg-dark text-light text-center py-4">
    <div class="container">
      <p>&copy; 2024 School. Todos os direitos reservados.</p>
      <a href="#" class="text-light">Política de Privacidade</a> | 
      <a href="#" class="text-light">Termos de Uso</a>
    </div>
  </footer>
</body>
</html>
